.app-sidebar-component
{
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100%;
    transition: left 0.25s ease;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    z-index: 2;

    &.open
    {
        left: 0;
    }

    a
    {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid darken(white, 10%);
        transition: background-color 0.25s ease;

        &:hover
        {
            background-color: darken(white, 5%);
        }
    }
}
