<template>
    <div class="character-view">
        <h1>Character</h1>

        <div class="mb-4" v-if="editing">
            <div class="form-group">
                <label for="name">Name</label>

                <input class="form-control" id="name" name="name" type="text" v-model="name">
            </div>

            <div class="form-group">
                <label for="age">Age</label>

                <input class="form-control" id="age" name="age" type="number" v-model="age">
            </div>

            <div class="form-group">
                <label for="bio">Bio</label>

                <textarea class="form-control" id="bio" name="bio" rows="5" v-model="bio"></textarea>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="health">Health</label>

                        <input class="form-control" id="health" name="health" type="number" v-model="health">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="magic">Magic</label>

                        <input class="form-control" id="magic" name="magic" type="number" v-model="magic">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="stamina">Stamina</label>

                        <input class="form-control" id="stamina" name="stamina" type="number" v-model="stamina">
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" @click="editing = false">Stop Editing</button>
        </div>

        <div v-else @click="editing = true">
            <p>Name: {{ name }}</p>

            <p>Age: {{ age }}</p>

            <p>Bio: {{ bio }}</p>

            <p>Health: {{ health }} / {{ $store.state.character.health.max }}</p>

            <p>Magic: {{ magic }} / {{ $store.state.character.magic.max }}</p>

            <p>Stamina: {{ stamina }} / {{ $store.state.character.stamina.max }}</p>
        </div>

        <div class="inventory card" v-if="$store.state.inventory.items.length">
            <header class="card-header">
                <h5 class="mb-0">Inventory</h5>
            </header>

            <div class="card-body">
                <ul class="mb-0">
                    <li v-for="item in $store.state.inventory.items">
                        {{ $store.getters['items/item'](item).name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editing: false
            };
        },

        computed: {
            name: {
                get() {
                    return this.$store.state.character.name;
                },

                set(value) {
                    this.$store.commit('character/name', value);
                }
            },

            age: {
                get() {
                    return this.$store.state.character.age;
                },

                set(value) {
                    this.$store.commit('character/age', value);

                    this.$forceUpdate();
                }
            },

            bio: {
                get() {
                    return this.$store.state.character.bio;
                },

                set(value) {
                    this.$store.commit('character/bio', value);
                }
            },

            health: {
                get() {
                    return this.$store.state.character.health.current;
                },

                set(value) {
                    this.$store.commit('character/health', value);

                    this.$forceUpdate();
                }
            },

            magic: {
                get() {
                    return this.$store.state.character.magic.current;
                },

                set(value) {
                    this.$store.commit('character/magic', value);

                    this.$forceUpdate();
                }
            },

            stamina: {
                get() {
                    return this.$store.state.character.stamina.current;
                },

                set(value) {
                    this.$store.commit('character/stamina', value);

                    this.$forceUpdate();
                }
            }
        }
    }
</script>
