<template>
    <div class="inventory-view">
        <h1 class="mb-4">Inventory</h1>

        <div class="character card" v-if="$store.state.character.name">
            <header class="card-header">
                <h5 class="mb-0">Character</h5>
            </header>

            <div class="card-body">
                <p>Name: {{ $store.state.character.name }}</p>

                <p>Age: {{ $store.state.character.age }}</p>

                <p>Health: {{ $store.state.character.health.current }} / {{ $store.state.character.health.max }}</p>

                <p>Magic: {{ $store.state.character.magic.current }} / {{ $store.state.character.magic.max }}</p>

                <p>Stamina: {{ $store.state.character.stamina.current }} / {{ $store.state.character.stamina.max }}</p>
            </div>
        </div>

        <div class="inventory-grid">
            <div class="item-container" v-for="item in items">
                <div class="item-padding">
                    <div class="item" :title="`${item.name} - ${item.description}`">
                        <i class="fa fa-times" title="Drop" @click="drop(item)"></i>

                        <i class="fa fa-lg" :class="item.icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" @click="pickup">Add Item</button>
    </div>
</template>

<script>
    export default {
        computed: {
            items() {
                let items = [];

                for (let id of this.$store.state.inventory.items) {
                    items.push(this.$store.getters['items/item'](id));
                }

                return items;
            }
        },

        methods: {
            pickup() {
                let id = window.prompt('ID?').toLowerCase();

                this.$store.commit('inventory/pickup', id);
            },

            drop(item) {
                if (!confirm('Are you sure?')) return false;

                this.$store.commit('inventory/drop', item.id);
            }
        }
    }
</script>
