<template>
    <div class="app-header-component">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Tracker</h1>
                </div>

                <div class="col text-right">
                    <button class="btn btn-primary" @click="toggleSidebar">Menu</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            toggleSidebar() {
                hub.$emit('sidebar.toggle');
            }
        }
    }
</script>
