<template>
    <div class="app-sidebar-component" :class="{ 'open': isOpen }">
        <router-link to="/">Character</router-link>

        <router-link to="/inventory">Inventory</router-link>
    </div>
</template>

<script>
    export default {
        mounted() {
            hub.$on('sidebar.open', this.open.bind(this));
            hub.$on('sidebar.close', this.close.bind(this));
            hub.$on('sidebar.toggle', this.toggle.bind(this));

            jQuery(this.$el).find('a').on('click', this.navigate.bind(this));
        },

        data() {
            return {
                isOpen: false
            };
        },

        methods: {
            open() {
                this.isOpen = true;
            },

            close() {
                this.isOpen = false;
            },

            toggle() {
                this.isOpen = !this.isOpen;
            },

            navigate() {
                this.isOpen = false;
            }
        }
    }
</script>
