.inventory-view
{
    .character
    {
        p
        {
            margin-bottom: 0.5rem;
        }
    }

    .inventory-grid
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        .item-container
        {
            width: 15%;
            padding: 1rem;
            box-sizing: border-box;
        }

        .item-padding
        {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
        }

        .item
        {
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
            background-color: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .fa-times
            {
                color: red;
                cursor: pointer;
                position: absolute;
                top: 1rem;
                right: 1rem;
            }

            .fa-lg
            {
                font-size: 3rem;
            }
        }
    }
}
